.form{
    width:80%; 
    margin: 0 auto;
    padding: 2rem;
}
.field{
    display: flex;
    gap: 5%;
    flex-wrap: wrap;
    /* border: none; */
    padding: 2rem;
    border-radius: 0.3rem;
    margin: 2rem 0;
}

.field1{
    width: 100%;
    display: flex;
    justify-content: space-between;
    /* border: none; */
    flex-wrap: wrap;
    padding: 2rem;
    border-radius: 0.3rem;
}

.section1{
    width: 50%;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
   
}

.legend{
    font-weight: 700;
    font-size: 1rem;
    margin-bottom: 1rem;
    color: white;
    padding: 0.5rem 1rem;
    background: linear-gradient(113.49deg, #C6535B 6.99%, rgba(22, 54, 93, 0.79) 94.29%);
    border-radius: 0.3rem;
}

.storage{
    display: flex;
}

.section{
    width: 30%;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.section label{
  display: block;
  margin-bottom: 0.3rem;
  font-size: 0.9rem;
  color: rgb(49, 49, 49);
}
.section1 label{
    display: block;
    margin-bottom: 0.5rem;
    font-size: 0.9rem;
  }
.section input{
    width: 100%;
    height: 2rem;
    border-radius: 30px;
    padding: 0.5rem;
    border: 1px solid rgb(199, 198, 198);
}

.section1 input{
    width: 80%;
    height: 2rem;
    border-radius: 30px;
    padding: 0.5rem;
    border: 1px solid rgb(199, 198, 198);
}
.secondrow{
    display: flex;
}
.button{
    display: flex;
  justify-content: flex-end;
}
.button button{
    padding: 0.5rem 1rem;
    /* width: 30%; */
  font-size: 1rem;
  color: white;
  background: linear-gradient(113.49deg, #C6535B 6.99%, rgba(22, 54, 93, 0.79) 94.29%);
  border: none;
  border-radius: 0.3rem;
}

.submitContainer{
    display: flex;
    justify-content: flex-end;
    /* align-items: flex-end; */
    gap: 1rem;
}

.submitContainer button{
    padding: 0.5rem 1rem;
    /* width: 30%; */
  font-size: 1rem;
  color: white;
  background: linear-gradient(113.49deg, #C6535B 6.99%, rgba(22, 54, 93, 0.79) 94.29%);
  border: none;
  border-radius: 0.3rem;
}

 @media (max-width: 768px) { 
    .form{
        width: 100%;
    }
    .section{
        width: 100%;
        margin-bottom:1rem;
    }

    .secondrow{
        flex-direction: column;
    }

    .field1{
        width: 100%;   
    }

    .section1{
        width: 100%;
        margin-bottom: 2rem;
    }

    .section input{
        width: 100%;
    }

    .storage{
        flex-direction: column;
    }
    .section1 input{
        width: 100%;
    }
 }

 @media (min-width: 1024px) { 
   
    .section{
        width: 20%;
    }
  }